.devices-page__form {
    margin-bottom: 18px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.devices-page__form-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}

.devices-page__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
