.not-found-page__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.not-found-page__icon {
    width: 150px;
    height: 150px;

    margin-bottom: 28px;

    border-radius: 999px;

    background: var(--primary-light);
    color: var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-page__heading {
    max-width: 280px;

    margin-bottom: 12px;

    color: var(--text-primary);

    font-size: 26px;
    font-weight: 800;
    line-height: 1.15;
}

.not-found-page__text {
    max-width: 270px;

    color: var(--text-secondary);

    font-size: 15px;
    font-weight: 500;
    line-height: 1.45;
}
